body {
    background-size: cover;
    font-family: Oxygen, Tahoma, serif;
    color: #FFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 85vw;
    height: 100vh;
    margin: auto;
}

.content {
    background-color: rgba(52, 73, 94, 0.4);
    padding: 5vw;
}

.lead {
    font-size: 30px;
    margin-bottom: 30px;
}

.small {
    font-size: 20px;
    font-style: italic;
    margin-left: auto;
}
